@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay {
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay-yellow {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #EDCD1F;
    opacity: 0.7;
}

.overlay-marron {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(136, 9, 9, 0.6);
    opacity: 0.5;
}